prefer-no-csd
spawn-at-startup "qs" "-c" "noctalia-shell"
hotkey-overlay {
    skip-at-startup
}
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}

include "custom/windowrules.kdl"
include "custom/output.kdl"
include "custom/layout.kdl"
include "custom/binds.kdl"
include "custom/input.kdl"
//include "custom/workspaces.kdl"

// noctalia 
include "noctalia.kdl"

