layout {

    focus-ring {
        active-color   "#b6cacf"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b6cacf"
        inactive-color "#131314"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b6cacf"
        inactive-color "#374a4e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b6cacf80"
    }
}

recent-windows {
    highlight {
        active-color "#b6cacf"
        urgent-color "#ffb4ab"
    }
}
